.row{
    --bs-gutter-x: 0px;
}

.table{
    text-align: center;
}

.valorTotal{
    text-align: start;
}

.alinhamento{
    text-align: center;
}

.dimensaoBotao{
    font-size: 1rem;
    width: 12vw;
    height: 58px;
}
