<div class="opcoes">

    <div class="row justify-content-end">
        <div class="col-2">
            <input type="search" class="form-control buscarId" placeholder="Buscar por Id" aria-label="search" [(ngModel)]="indiceSelecionado">
        </div>

        <button class= "btn btn-outline-success botoes col-1 me-5" type="submit" (click)="buscarPorId(detalhar, indiceSelecionado)"> Buscar</button>
        <button class= "btn btn-outline-success botoes col-2" (click)="salvar(cadastrar)">Adicionar Funcionario</button>
    </div>
</div>

<div class="tabela">
    <table class="table">

        <thead>
            <tr>
                <th scope="col" class="col">Id</th>    
                <th scope="col" class="col">Nome</th>
                <th scope="col" class="col">CPF</th>
                <th scope="col" class="col">Telefone</th>
                <th scope="col" class="col">Ativo</th>
                <th scope="col" class="col">Opções</th>

            </tr>
        </thead>

        <tbody>
            <tr scope="row" *ngFor="let funcionario of lista">
                <td>{{funcionario.id}}</td>
                <td>{{funcionario.nome}}</td>
                <td>{{funcionario.cpf}}</td>
                <td>{{funcionario.telefone}}</td>
                <td>{{funcionario.ativo}}</td>
                <td *ngIf="!modoLancamento" > <button type="button" class="btn btn-outline-warning" (click)="editar(detalhar, funcionario.id, funcionario)">Editar</button> </td>
                <td *ngIf="modoLancamento" > <button type="button" class="btn btn-outline-success" (click)="lancamento(funcionario)">Lançar</button> </td>
            </tr>
        </tbody>
    </table>
</div>

<ng-template #cadastrar let-modal>
    <div class="modal-header">
		<h4 class="modal-title">Cadastrar carro</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
		
        <app-funcionariodetails (retorno)="adicionarOuEditar($event)" ></app-funcionariodetails>
            
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
	</div>
</ng-template>

<ng-template #detalhar let-modal>
    <div class="modal-header">
		<h4 class="modal-title">Detalhar carro</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
		
        <app-funcionariodetails [funcionario]="funcionarioSelecionado" (retorno)="adicionarOuEditar($event)" ></app-funcionariodetails>
            
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
	</div>
</ng-template>