<form (ngSubmit)="cadastrar()">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" name="Nome" placeholder="Nome" [(ngModel)]="cliente.nome">
        <label for="Nome">Nome</label>
    </div>

    <div class="form-floating mb-3">
        <input type="text" class="form-control" name="CPF" placeholder="CPF" [(ngModel)]="cliente.cpf">
        <label for="CPF">CPF</label>
    </div>

    <div class="form-floating mb-3">
        <input type="Telefone" class="form-control" name="Telefone" placeholder="Telefone" [(ngModel)]="cliente.telefone">
        <label for="Telefone">Telefone</label>
    </div>

    <button class= "btn btn-outline-success"> Salvar</button>
</form>