<form (ngSubmit)="cadastrar()">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" name="Nome" placeholder="Nome" [(ngModel)]="cliente.nome">
        <label for="Nome">Nome</label>
    </div>

    <div class="row">
        <div class="form-floating mb-3 col-6">
            <input type="text" class="form-control" name="CPF" placeholder="CPF" [(ngModel)]="cliente.cpf">
            <label for="CPF">CPF</label>
        </div>

        <div class="form-floating mb-3 col-6">
            <input type="text" class="form-control" name="Telefone" placeholder="Telefone" [(ngModel)]="cliente.telefone">
            <label for="Telefone">Telefone</label>
        </div>
    </div>

    <select class="form-select form-select-lg mb-3" name="situacao" [(ngModel)]="cliente.ativo">
        <option value="true">Ativo</option>
        <option value="false">Inativo</option>
    </select>

    <app-enderecolist [lista]="cliente.enderecos" ></app-enderecolist>

    <button class= "btn btn-outline-success margem"> Salvar</button>
    <button type="button" class="btn btn-outline-primary" (click)="adicionarEndereco(cadastrarEndereco)">Adicionar endereço</button> 
</form>

<ng-template #cadastrarEndereco let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Adicionar endereço</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
       
        <app-enderecodetails (retorno)="retornoEnderecoList($event)"> </app-enderecodetails>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
    </div>
</ng-template>

<ng-template #atualizarEndereco let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Editar endereço</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
       
        <app-enderecodetails (retorno)="retornoEnderecoList($event)"> </app-enderecodetails>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
    </div>
</ng-template>