<nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
      <h2 class="navbar-brand">Pizzaria</h2>
      
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
       
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Cliente
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" routerLink="cliente/menu">Menu cliente</a></li>
                  <li>
                    <hr class="dropdown-divider">
                  </li>
                  <li><a class="dropdown-item" >Cadastrar</a></li>
                  <li><a class="dropdown-item" >Buscar cliente</a></li>
                  <li><a class="dropdown-item" >Listar todos</a></li>
                  <li><a class="dropdown-item" >Deletar</a></li>
                </ul>
              </li>
            
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle"  role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Funcionario
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" routerLink="funcionario/menu">Menu funcionario</a></li>
                  <li>
                      <hr class="dropdown-divider">
                  </li>
                  <li><a class="dropdown-item" >Cadastrar</a></li>
                  <li><a class="dropdown-item" >Buscar funcionario</a></li>
                  <li><a class="dropdown-item" >Listar todos</a></li>
                  <li><a class="dropdown-item" >Deletar</a></li>
                </ul>
              </li>
            
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Pedido
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" routerLink="pedido/menu">Menu pedido</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" >Cadastrar</a></li>
                <li><a class="dropdown-item" >Buscar pedido</a></li>
                <li><a class="dropdown-item" >Listar todos</a></li>
              </ul>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Produto
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" routerLink="produto/menu">Menu produto</a></li>
                    <li>
                      <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" >Cadastrar</a></li>
                    <li><a class="dropdown-item" >Buscar produto</a></li>
                    <li><a class="dropdown-item" >Listar todos</a></li>
                    <li><a class="dropdown-item" >Deletar</a></li>
                </ul>
              </li>

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Acompanhamento
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" routerLink="acompanhamento/menu">Menu acompanhamento</a></li>
                    <li>
                      <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" >Cadastrar</a></li>
                    <li><a class="dropdown-item" >Buscar acompanhamento</a></li>
                    <li><a class="dropdown-item" >Listar todos</a></li>
                    <li><a class="dropdown-item" >Deletar</a></li>
                </ul>
              </li>

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Sabor
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" routerLink="sabor/menu">Menu sabor</a></li>
                    <li>
                      <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" >Cadastrar</a></li>
                    <li><a class="dropdown-item" >Buscar sabor</a></li>
                    <li><a class="dropdown-item" >Listar todos</a></li>
                    <li><a class="dropdown-item" >Deletar</a></li>
                </ul>
              </li>
          </ul>

          <button class="btn btn-outline-danger botao-sair" routerLink="/login">Sair</button>
        </div>
      </div>
    </div>
  </nav>