<form (ngSubmit)="cadastrar()">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" name="logadouro" placeholder="logadouro" [(ngModel)]="endereco.logadouro">
        <label for="logadouro">Logadouro</label>
    </div>

    <div class="form-floating mb-3">
        <input type="text" class="form-control" name="bairro" placeholder="bairro" [(ngModel)]="endereco.bairro">
        <label for="bairro">Bairro</label>
    </div>

    <div class="row">
        <div class="form-floating mb-3 col-6">
            <input type="text" class="form-control" name="numero" placeholder="numero" [(ngModel)]="endereco.numero">
            <label for="numero">Numero</label>
        </div>

        <div class="form-floating mb-3 col-6">
            <input type="text" class="form-control" name="cep" placeholder="cep" [(ngModel)]="endereco.cep">
            <label for="cep">CEP</label>
        </div>
    </div>

    <button class= "btn btn-outline-success"> Salvar</button>
</form>