<div class="opcoes">

    <div class="row justify-content-end">
        <div class="col-2">
            <input type="search" class="form-control buscarId" placeholder="Buscar por Id" aria-label="search" [(ngModel)]="indiceSelecionado">
        </div>

        <button class= "btn btn-outline-success botoes col-1 me-5" type="submit" (click)="buscarPorId(detalhar, indiceSelecionado)"> Buscar</button>
        <button class= "btn btn-outline-success botoes col-2" (click)="adicionar(cadastrar)">Adicionar Pedido</button>
    </div>
</div>

<div class="tabela">
    <table class="table">

        <thead>
            <tr>
                <th scope="col" class="col">Id</th>    
                <th scope="col" class="col">Cliente</th>
                <th scope="col" class="col">Hora do Pedido</th>
                <th scope="col" class="col">Situação</th>
                <th scope="col" class="col">Responsável</th>
                <th scope="col" class="col">Detalhes</th>

            </tr>
        </thead>

        <tbody>
            <tr scope="row" *ngFor="let pedido of lista">
                <td>{{pedido.id}}</td>
                <td>{{pedido.cliente.nome}}</td>
                <td>{{pedido.cadastro}}</td>
                <td>{{pedido.situacaoPedido}}</td>
                <td>{{pedido.funcionario}}</td>
                <td>
                    <button type="button" class="btn btn-outline-warning botoes" (click)="editar(detalhar,pedido.id,pedido)">Detalhes</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<ng-template #cadastrar let-modal>
    <div class="modal-header">
		<h4 class="modal-title">Cadastrar pedido</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
		
        <app-pedidodetails (retorno)="salvar($event)" ></app-pedidodetails>
            
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
	</div>
</ng-template>

<ng-template #detalhar let-modal>
    <div class="modal-header">
		<h4 class="modal-title">Detalhar pedido</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
		
        <app-pedidodetails [pedido]="pedidoSelecionado" (retorno)="salvar($event)" ></app-pedidodetails>
            
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
	</div>
</ng-template>