<form (ngSubmit)="cadastrar()">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" name="descricao" placeholder="Descrição" [(ngModel)]="produto.descricao">
        <label for="Descrição">Descrição</label>
    </div>

    <div class="form-floating mb-3">
        <input type="text" class="form-control" name="valor" placeholder="Valor" [(ngModel)]="produto.valor">
        <label for="Valor">Valor</label>
    </div>


        <select class="form-select form-select-lg mb-3" name="tamanho" [(ngModel)]="produto.tamanho">
            <option value="BROTINHO">BROTINHO</option>
            <option value="P">P</option>
            <option value="M">M</option>
            <option value="G">G</option>
            <option value="GG">GG</option>
        </select>

        <select class="form-select form-select-lg mb-3" name="situacao" [(ngModel)]="produto.ativo">
            <option value="true">Ativo</option>
            <option value="false">Inativo</option>
          </select>

    <button class= "btn btn-outline-success"> Salvar</button>
</form>